/*
========================
Header area start
========================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {	
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #171728;
	color: #333333;	
}

a,a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: orange;
}

::-webkit-selection {
    color: white; 
    background: orange;
}

::-moz-selection {
    color: white; 
    background: orange;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}


/*--- main-area start ---*/
.main-area {
    background-color: #171728;
    max-width: 480px;
    display: block;
    margin: auto;
    padding-top: 1px;
    height: 100vh;
}


/*--- header-area start ---*/
.header-area {
    background-color: #d5e2ff;
    padding: 20px 30px;
    border-radius: 0px 0px 24px 24px;
    padding-top: 15px;
}


.top_header {
    display: flex;
    align-items: center;
}

.top_header_left {
    width: 18%;
    position: relative;
}

.top_header_left img {
    width: 44px;
    height: 44px;
    border-radius: 50%;    
}

.top-header-inner {
    width: 63%;
}

.top-header-inner p {
    color: #292D32;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    margin-top: -8px;
}

.top-header-inner p i {
    font-size: 17px;
    padding-left: 4px;    
}


.top_header_right {
    width: 20%;
    text-align: right;
    padding-right: 11px;
}

.top_header_right img {
    height: 30px;
}



.ttheader-part {
    display: flex;
    align-items: center;
}

.header-part {
    width: 70%;
}

.header-part h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.header-part p {
    color: #292D32;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.header-part p img {
    height: 16px;
    margin-bottom: -3px;
    margin-left: 3px;    
}

.header-part3 {
    width: 30%;
    text-align: right;
    padding-top: 13px;
}

.header-part3 i {
    color: #fff;
    font-size: 16px;
    width: 46px;
    height: 46px;
    background-color: #292D32;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
}

.therest-part {
    display: flex;
    width: 562px;
    padding-bottom: 4px;
}